body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.contGral{
    display: flex;
}
footer{
    text-align: center;
}
.btnDashboard{
    background: #ff7878;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    color: #f3f0d7;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    cursor: pointer;
}
.linkNav{
    color: #000;
    text-decoration: none;
}
.messageForm{
    width: 90%;
    margin: auto;
    padding: 10px;
    text-align: center;
}
.successMsg{
    background: #d1e7dd;
    color: #0f5132;
}
.msgOcultar{
    display: none;
}
@media only screen and (min-width: 768px){

}